*.kpf
*.pyc
*.beam
*.o
*.so
vsn.git
Emakefile
coverage
coverage/*
erl_crash.dump
test/logs/
ebin/*.beam
*/ebin/*.app
logs/*
.DS_Store
lib
release/nodewatch/
release/reltool.config
lib/
dev
release/setup/
log
.hosts.erlang.net.conf
dxweb/priv/www/development-bundle
dump-data.txtmkc
mkcMakefile
Makefile
build/scripts/mkc
build/priv/scripts/mkccache.yml
cache.yml
build/priv/scripts/mkc
