%% NB: This custom rebar config is used when installing based on local deps only

{deps_dir, ["lib"]}.
{deps, [
    {appstart, ".*", {git, "https://github.com/hyperthunk/appstart.git", "master"}},
    {kvc, ".*", {git, "https://github.com/etrepum/kvc.git", "master"}},
    {gen_server2, ".*", {git, "https://github.com/hyperthunk/gen_server2.git", "master"}},
    {erlydtl, ".*", {git, "https://github.com/evanmiller/erlydtl.git", "master"}},
    {eper, ".*", {git, "https://github.com/massemanet/eper.git", "master"}},
    {fastlog, ".*", {git, "https://github.com/hyperthunk/fastlog.git", "master"}},
    {misultin, "0.7*", {git, "https://github.com/ostinelli/misultin.git", "master"}},
    {riak_err, ".*", {git, "https://github.com/basho/riak_err.git", "master"}},
    {setup, ".*", {git, "https://github.com/esl/setup.git", "master"}}
]}.
