%%
%% NB: This custom rebar config is used when installing based on local deps.
%% Use this if you wish to get the latest build of each and build against
%% the local cache (see rebar's deps_dir documentation for details).

%% By not specifying any sub_dirs, we avoid building our own sources using
%% this configuration, which is the intended behaviour.

%% TODO: make this a bit more useful and specify the exact versions
%% we're intending to build against

{deps_dir, ["lib"]}.
{deps, [
    {appstart, ".*",
        {git, "https://github.com/hyperthunk/appstart.git", "master"}},
    %% NB: un-patched gen_server2, which is simply bundled as an OTP lib
    {gen_server2, ".*",
        {git, "https://github.com/hyperthunk/gen_server2.git", "master"}},
    {fastlog, ".*",
        {git, "https://github.com/hyperthunk/fastlog.git", "master"}},
    {kvc, ".*",
        {git, "https://github.com/etrepum/kvc.git", "master"}},
    {erlydtl, ".*",
        {git, "https://github.com/evanmiller/erlydtl.git", "master"}},
    %% NB: I have patched eper to allow parameterised modules as consumers
    {eper, ".*",
        {git, "https://github.com/hyperthunk/eper.git", "master"}},
    {misultin, "0.7*",
        {git, "https://github.com/ostinelli/misultin.git", "master"}},
    {jsx, ".*",
        {git, "https://github.com/talentdeficit/jsx.git", "master"}},
    {riak_err, ".*",
        {git, "https://github.com/basho/riak_err.git", "master"}},
    {setup, ".*",
        {git, "https://github.com/esl/setup.git", "master"}},
    {parse_trans, ".*",
        {git, "https://github.com/esl/parse_trans.git", "master"}}
]}.
