
{deps_dir, ["lib"]}.
{deps, [
    %% use riak_err to manage sasl logging
    {appstart, ".*", {git, "https://github.com/hyperthunk/appstart.git"}},
    {erlydtl, ".*", {git, "https://github.com/evanmiller/erlydtl.git"}},
    {eper, ".*", {git, "https://github.com/massemanet/eper.git", "master"}},
    {fastlog, ".*", {git, "https://github.com/hyperthunk/fastlog.git"}},
    {misultin, "0.7*", {git, "https://github.com/ostinelli/misultin.git"}},
    {riak_err, ".*", {git, "https://github.com/basho/riak_err.git"}}
]}.
