
{lib_dirs, ["dxcommon", "dxdb", "dxkit", "dxweb"]}.
{sub_dirs, ["dxcommon", "dxdb", "dxkit", "dxweb", "release"]}.
{deps_dir, ["lib"]}.

{clean_files, ["lib", "dev", "release/reltool.config", "release/setup"]}.
{post_hooks, [
    {compile, "escript generate_relconfig"}
]}.

{erl_opts, [{outdir, "ebin"}, debug_info, warnings_as_errors]}.
{cover_enabled, true}.
{cover_print_enabled, true}.

%% project wide dependencies
{deps, [
    %% use riak_err to manage sasl logging
    {riak_err, ".*"},
    {fastlog, ".*"},
    {appstart, ".*"}
]}.

{require_otp_vsn, "R13B04|R14"}.
