
{lib_dirs, ["dxcommon", "dxdb", "dxkit", "dxweb"]}.
{sub_dirs, ["dxcommon", "dxdb", "dxkit", "dxweb", "release"]}.
{deps_dir, ["lib"]}.

{clean_files, ["release/reltool.config", "release/setup"]}.

{erl_opts, [{outdir, "ebin"}, debug_info, warnings_as_errors]}.
{require_otp_vsn, "R14"}.

{cover_enabled, true}.
{cover_print_enabled, true}.

%% project wide dependencies
{deps, [
    %% use riak_err to manage sasl logging
    {riak_err, ".*"},
    {fastlog, ".*"},
    {appstart, ".*"},
    {rebar_dist_plugin, "0.0.5"}
]}.

{plugin_dir, "build/src"}.
{rebar_plugins, [git_vsn_plugin, rebar_dist_plugin]}.

{dist, [
    {format, zip},
    %% {version, {git, tag}},
    {assembly, release}
]}.
