%%
%% NB: This custom rebar config is used when installing based on local deps.
%% Use this if you wish to get the latest build of each and build against
%% the local cache (see rebar's deps_dir documentation for details).

%% By not specifying any sub_dirs, we avoid building our own sources using
%% this configuration, which is the intended behaviour.

%% TODO: make this a bit more useful and specify the exact versions
%% we're intending to build against

{deps, [
    {gen_server2, ".*",
        {git, "https://github.com/hyperthunk/gen_server2.git", "master"}},
    {fastlog, ".*",
        {git, "https://github.com/hyperthunk/fastlog.git", "master"}},
    {kvc, ".*",
        {git, "https://github.com/etrepum/kvc.git", "master"}},
    %% NB: I have patched eper to allow parameterised modules as consumers
    {eper, ".*",
        {git, "https://github.com/hyperthunk/eper.git", "master"}},
    {dxcommon, ".*",
        {git, "https://github.com/hyperthunk/dxcommon.git", "master"}},
    {dxdb, ".*",
        {git, "https://github.com/hyperthunk/dxdb.git", "master"}}
]}.

{xref_warnings, true}.
{xref_checks, [exports_not_used, undefined_function_calls]}.

