%% This rebar.config is geared-up for use in a sub_dir of another project.
%% For a stand-alone build, see rebar-standalone.config

{deps_dir, ["../lib"]}.
{deps, [
    {dxcommon, ".*"},
    {dxdb, ".*"},
    {eper, ".*"},
    {kvc, ".*"}
]}.

{xref_warnings, true}.
{xref_checks, [exports_not_used, undefined_function_calls]}.

{ct_extra_params, 
    "-config $NODEWATCH/release/files/app.config -s dxkit start_dev"}.
