{sys, [
       {lib_dirs, ["../"]},
       {rel, "nodewatch", "1",
        [
         kernel,
         stdlib,
         sasl,
         dxweb,
         dxkit
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "nodewatch"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]},
       {app, dxkit, [{incl_cond, include}]},
       {app, dxweb, [{incl_cond, include}]}
      ]}.

{target_dir, "nodewatch"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {copy, "files/nodewatch", "bin/nodewatch"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"}
           ]}.
