[

    %% dxkit config
    {dxkit, [
        %% TODO: move the `world' config into .net.conf
        {world, [
            %% TODO: rename this config element, 
            %% as it doesn't *only* run on startup
            {startup, {scan, all}},
            {refresh, 5000}
        ]}
    ]},
    
    %% SASL config
    {sasl, [
        {sasl_error_logger, {file, "log/sasl-error.log"}},
        {errlog_type, error},
        {error_logger_mf_dir, "log/sasl"},      % Log directory
        {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
        {error_logger_mf_maxfiles, 5}           % 5 files max
    ]},
    {riak_err, [
        {term_max_size, 65536},
        {fmt_max_bytes, 65536}
    ]},
    
    %% dxdb/mnesia config
    {mnesia, [{dir, "etc/db"}]},
    
    %% TODO: externalise this....
    {fastlog, [{level, debug}]},
    
    %% setup (install) config
    {setup,[
        {log_dir, "log"},
        {conf,[
            {apps,[kernel,
                   stdlib,
                   sasl,
                   crypto,
                   riak_err,
                   fastlog,
                   dxdb]}]
    }]}
].

